<html lang="en">
<div class="jumbotron allocated-task-bg">
	<div class="textCenter">
		<h2 class="title-banner">Allocated Tasks</h2>

</div>

<body>

<div class="container tasks-queue">
  <!-- Example row of columns -->
	<div class="row">
    	<div class="col-md-4 op-title-bg-left">
    		<h2 class="op-title-col">Assigned</h2>
    	</div>
    
	    <div class="col-md-4 op-title-bg-middle">
    		<h2 class="op-title-col">In Progress</h2>
    	</div> 
    	<div class="col-md-4 op-title-bg-right">
    		<h2 class="op-title-col">Done</h2>
    	</div>
    	<div class="textColor">
    		<div class="row-2">
    			<div class="col-md-4 op-body-bg-left">

    			</div>
     			<div class="col-md-4 op-body-bg-middle">

     			</div>
    			<div class="col-md-4 op-body-bg-right">

    			</div>
    		</div>
		</div>
	</div>
</div>

</body>

</div>
</html>
