<div id="chartdiv"></div>

<!-- JavaScript Includes -->
<%= javascript_include_tag('amcharts.js') %>
<%= javascript_include_tag('serial.js') %>
<%= javascript_include_tag('light.js') %>
<%= javascript_include_tag('chart.js') %>

	

