<html lang="en">
<body>
  <div class="jumbotron">
	<table class="table">
		<caption><h2 class="black-text">History</h2></caption>
     	<thead>
        	<tr>
        		<th class="col-md-2"> Opportunity ID </th>
            	<th class="col-md-8"> Opportunity Name </th>
            	<th class="col-md-2"> Due Date </th>
        	</tr>
     	</thead>

	 	<tbody>
		    <% @histories.each do |h| %>
		      <tr>
		        <td></td><%= link_to h.history.opptyName, h.history %></td>
		        <br>
		      </tr>
		    <% end %>
	  	</tbody>
	</table>

	<div style="float: right !important">
    	<%= will_paginate @histories %>
  	</div>

  </div>
</body>
</html>
