<html lang="en">
<body>
  <div class="jumbotron">
		<caption><h2 class="black-text" style="text-align: center;">History</h2></caption>

	    <div class="row" style="font-weight: bold;">
	      <div class="col-md-3" style="text-align: center;"> Opportunity ID </div>
	      <div class="col-md-6"> Opportunity Name </div>
	      <div class="col-md-3"> Due Date </div>
	    </div>

	    <hr />

	    <div>
	      <% unless @hist == nil %>
	        <% @hist.each do |o| %>
	            <div class="success row">
	              <div class="col-md-3" style="text-align: center;"><%= o.opptyId %></div>
	              <div class="col-md-6">
	                <div class="regular-text a:visited"><%= link_to o.opptyName, o %></div>
	                <div class="little-text"><%= o.slComments %></div>
	              </div>
	              <div class="col-md-3"><%= o.proposalDueDate.to_s %></div>
	            </div>
	        <% end %>
	      <% end %>
	    </div>




<!--
	 	<tbody>
		    < @history.each do |history| %>
		      <tr>
		      	<td>
		        <td> < link_to history.oppty.opptyName, history.oppty %> </td>
		      </tr>
		    < end %>
	  	</tbody>
-->
  </div>
</body>
</html>
