<h1>History</h1>

<table>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td></td><%= link_to history.oppty.opptyName, history.oppty %></td>
        <br>
      </tr>
    <% end %>
  </tbody>
</table>
