<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div class="jumbotron">
    <h2 style="text-align: center; padding-top: 20px;"><%= @oppty.opptyName %></h2>

	<%= render 'form' %>

	<h5 class="field-title link-text" ><%= link_to 'Back', browse_index_path %></h5>
</div>