
<div class="jumbotron">
<div class="upper-search-box">
	<div class="inner-search-bar col-md-12">
		<form method="get" action="..." class="search-form"> 
			<table cellpadding="0px" cellspacing="0px"> 
			<tr> 
			<td style="border-style:solid none solid solid;border-color:#4B7B9F;border-width:1px; font-size:24px;">
			<input type="text" placeholder="Search" name="search_query" class="search-field"> 
			</td>
			<td> 
				<input class="btn-search" type="image" src="/assets/search.png" alt="Submit Search">
			</td>
			</tr>

			</table>
		</form>		
	</div>		
<br>
</div>



<div class="title">
	<%= "Opportunities" %>
</div>

<div class="media">
	<div class="media-body">
<table class="table table-hover">
    <%i=1%>
	<% @oppties.each do |o|%>
    	<tr>
    		<td><h2><%= link_to (i.to_s+' '+o.opptyName.to_s+" - ").to_s+o.proposalDueDate.to_s, o %></h2></td>
            <%i+=1%>
  		</tr>
	<% end%>
</table>
	</div>
</div>
</div>