// Place all the styles related to the AllocatedTasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.textCenter {
	text-align: center;
	background-color: #A9A9A9 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	color: black;
	display: block !important;
}

.title-banner {
	padding: 10px !important;
	margin-bottom: 0px !important;
	background-color: #F8F8F8 !important;
}

.op-body-bg-col-label {
	background-color: #F8F8F8 !important;
	border-color: white !important;
	padding: 0px !important;
}

.text-edit a:link {
	font-size: 120%;
	color: #0000FF;
	background-color: transparent !important;
	padding-top: 10px;
}

/* visited link */
.regular-text a:visited {
    color: #663366 !important;
}

.medium-text a:link{
	font-size: 100%;
	background-color: transparent !important;
	padding-left: 15px;
	float: right;
}

.little-text {
	font-size: 80%;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.allocated-task-bg {
	background-color: transparent !important;
}

.op-title-col {
	font-size: 24px !important;
	text-align: center !important;
	color: black !important;
}

.regular-text a:link {
    font-size: 75%;
    color: #0000FF;
    background-color: transparent !important;
}

.writer-label {
 	font-size: 13px !important; 	
 	margin-bottom: 0px !important;
}

.tasks-queue {
	width: 100% !important;
	margin: 0px !important;
}


.red-cross {
	background-color: red !important;
	margin:0; 
	padding-top:10px !important; 
	padding-left: 0px !important; 
	padding-right:20px !important; 
	border:0px !important;
	border-color: transparent !important;
	a {
		color: red !important;
		&:visited {
		color: red !important;
		}
	}
}

.btn-x-manager {
	width: 15px !important;
	height: 15px !important;
    cursor: pointer;
}
#navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navigation a {
  text-decoration: none;
  display: block;
  padding: 3px 12px 3px 8px;
  background-color: #005DA0 !important;
  color: white;
  border: 1px solid #ddd;
}

#navigation a:active {
  padding: 2px 13px 4px 7px;
  color: white;
  background-color: #005DA0 !important;
  border: 1px solid #333;
}

#navigation li li a {
  text-decoration: none;
  padding: 3px 3px 3px 17px;

  color: #111111;
}
#navigation li li a:active {
  padding: 2px 4px 4px 16px;
}

#navigation li li a:link {
  color: #0000FF;
  background-color: transparent !important;
}

#navigation li li a:visited {
  color: #663366 !important;
}

#navigation li li a:hover {
  text-decoration: underline;
}
