// Place all the styles related to the AllocatedTasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.textColor {
	color: black;
}

.textCenter {
	text-align: center;
}

.op-body-bg-left {
	background-color: white;
	border-color: black !important;
}

.regular-text a:link {
	font-size: 120%;
	color: #0000FF;
	background-color: transparent !important;
}

/* visited link */
.regular-text a:visited {
    color: #663366 !important;
}

.little-text {
	font-size: 60%;
}