// Place all the styles related to the AllocatedTasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.textCenter {
	text-align: center;
	background-color: #A9A9A9 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	color: black;
	display: block !important;
}

.title-banner {
	padding: 10px !important;
	margin-bottom: 0px !important;
	background-color: #F8F8F8 !important;
}

.op-body-bg-col-label {
	background-color: #F8F8F8 !important;
	border-color: white !important;
	padding: 0px !important;
}

.text-edit a:link {
	font-size: 120%;
	color: #0000FF;
	background-color: transparent !important;
	padding-top: 10px;
}

/* visited link */
.regular-text a:visited {
    color: #663366 !important;
}

.medium-text a:link{
	font-size: 100%;
	background-color: transparent !important;
	padding-left: 15px;
	float: right;
}

.little-text {
	font-size: 80%;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.allocated-task-bg {
	background-color: transparent !important;
}

.op-title-col {
	font-size: 24px !important;
	text-align: center !important;
	color: black !important;
}

.regular-text a:link {
    font-size: 75%;
    color: #0000FF;
    background-color: transparent !important;
}

.writer-label {
 	font-size: 13px !important; 	
 	margin-bottom: 0px !important;
}

.tasks-queue {
	width: 100% !important;
	margin: 0px !important;
}
