// Place all the styles related to the Assign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.assigned-jumbotron {
	min-height: 600px !important;
	margin-right: 50px !important;
	margin-left: 50px !important;
	margin-bottom: 30px !important;
}

.not-assigned-row {
	min-height: 46px !important;
	border: 1px solid black;
}

.assigned-row {
	min-height: 46px !important;
	border: 1px solid black;
}

.row-item {
    line-height: 46px !important;
    min-height: 46px !important;
}

.writer-name {
	line-height: 46px !important;
	margin: 0px !important;
}

.un-assign-button {
	background-color: #f00a10 !important; 
	border-color: #f00a10 !important; 
}

.un-assign-button:hover {
	background-color: darken(#f00a10, 10%) !important;
}