// Place all the styles related to the Assign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.assign_name{
  padding-bottom: 40px;
  font-family: verdana, arial, helvetica,
  sans-serif;font-size: 32px;
  width: 600px;
  margin:0 auto;
  text-align: center;
}
.not-assigned-row {
	min-height: 30px !important;
    border-bottom: 1px solid black;
}

.assigned-row {
	min-height: 30px !important;
    border-bottom: 1px solid black;
}

.row-item {
    min-height: 46px !important;
}

.writer-name {
	line-height: 46px !important;
	margin: 0px !important;
}

.un-assign-button {
	background-color: #f00a10 !important; 
	border-color: #f00a10 !important;
}
.plus {
  position:relative;
  top:15px;
  left:30px;
  padding: 0px;
  width: 20px ;
  height: 20px ;
  cursor:pointer;
}
.redx {
  position:relative;
  top:15px;
  left:30px;
  padding: 0px;
  width: 20px ;
  height: 20px ;
  cursor:pointer;
}
.un-assign-button:hover {
	background-color: darken(#f00a10, 10%) !important;
}

.un-assign-button:active,
.un-assign-button:focus {
	outline:0 !important;
}
.outer-assigned-row{
  border: 2px solid black;
}
.outer-not-assigned-row{
  border: 2px solid black;

}
.assign-button {
	background-color: #005DA0 !important; 
	border-color: #005DA0 !important; 
}

.assign-button:hover {
	background-color: darken(#005DA0, 10%) !important;
}

.assign-button:active,
.assign-button:focus {
	outline:0 !important;
}

.btn-assign-search {
  padding: 0px !important; 
  //float:right !important;
  border-style: none; 
  background-color: #005DA0;
  width: 40px; height: 40px;
}