// Place all the styles related to the Browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upper-search-box {
	
}

.jumbotron {
	padding-top: 0px !important;
	margin-right: 20px !important;
	margin-left: 20px !important;
}

.browse-bg {
	background-color: #F8F8F8;
}

.search-form {
	padding-top:20px;
	padding-right: 101px;
    padding-left: 101px;
}

.btn-search {
	padding: 0px; 
	float:right;
	border-style: none; 
	background-color: #005DA0;
	width: 38px; height: 38px;
}

.inner-search-bar {
	width: 1202px;
	height: 150px;
	background-color: #4C4C4C !important;
}

//nav-bar focusing for tabs
.nav-tasks {
	background-color: #F8F8F8;
}

.nav-browse {
	background-color: #e7e7e7;
}

.nav-tasks {
	background-color: #F8F8F8;
}

.nav-invalid {
	background-color: #F8F8F8;
}

.nav-crm {
	background-color: #F8F8F8;
}

.nav-stats {
	background-color: #F8F8F8;
}

.nav-notifs {
	background-color: #F8F8F8;
}