// Place all the styles related to the Browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upper-search-box {
	
}

td {
	padding:0 !important;
}

.jumbotron {
	padding-top: 0px !important;
	margin-right: 50px !important;
	margin-left: 50px !important;
}

.search-form {
	padding-top:20px;
	padding-right: 101px;
    padding-left: 101px;
}

.btn-search {
	padding: 0px !important; 
	float:left;
	border-style: none; 
	background-color: #005DA0;
	width: 40px; height: 40px;
}

.inner-search-bar {
	height: 150px;
	background-color: #8E8E8E !important;
}

.title {
	font-size: 250%;
	text-align: center;
}

.search-field {
	border:1px solid;
	border-color: black;
	height:40px; 
	padding:0px 0px !important; 
	position:relative;
	font-size: 20px;
}

.regular-text a:link {
	font-size: 120%;
	color: #0000FF;
	background-color: transparent !important;
}

/* visited link */
.regular-text a:visited {
    color: #663366 !important;
}

.little-text {
	font-size: 80%;
}

.black-text {
	color: black;
}

.selector {
	float: left;
}

.selector-button {
	height: 20px !important;
	float: right;
	text-align: center;
	vertical-align: top;
	line-height: 22px !important;
	padding-top:0px !important;
	color: white !important;
	background-color: #005DA0 !important;
	border-color: #005DA0 !important;
}

.control-label {
	padding-right: 30px !important;
}

