// Place all the styles related to the Statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}					