// Place all the styles related to the Statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chartdiv {
	width		: 90%;
	height		: 500px;
	font-size	: 11px;
}		

.jumbotron {
	background-color: #F8F8F8 !important;
}		

.chart-container {
	margin: 0px auto;
}

.chart-title {
	text-align: center;
}	